%section.section
  / section__header
  .section__header
    .section__title.title
      - if seo.present? and seo.title.present?
        %span.title__text= seo.title
      - else
        %span.title__text Все о Чехии и Праге
    / section__wysiwyg
    .section__wysiwyg.wysiwyg
      - unless seo.present? and seo.text.present?
        %p
          Портал Чехия Онлайн 420on.cz полностью посвящён жизни в Чехии и, в
          частности, в Праге. У нас Вы найдёте множество интересных материалов о жизни
          в Праге: новости, отели, погода, карты, достопримечательности, цены на
          товары и услуги, развлечения и экскурсии в Праге И это далеко не полный
          список освещаемых нами тем. Вам больше не придётся собирать информацию о
          Чехии на разных сайтах, потому что на нашем сайте - Вы найдете все о Праге и
          Чехии.
        %p
          Мы поможем составить Вам маршрут путешествия в Чехию, для этого Вам
          достаточно посетить рубрику "Отдых" и сервис "Достопримечательности".
        %p
          Портал Чехия Онлайн 420on.cz полностью посвящён жизни в Чехии и, в
          частности, в Праге. У нас Вы найдёте множество интересных материалов о жизни
          в Праге: новости, отели, погода, карты, достопримечательности, цены на
          товары и услуги, развлечения и экскурсии в Праге И это далеко не полный
          список освещаемых нами тем. Вам больше не придётся собирать информацию о
          Чехии на разных сайтах, потому что на нашем сайте - Вы найдете все о Праге и
          Чехии.
        %p
          Мы поможем составить Вам маршрут путешествия в Чехию, для этого Вам
          достаточно посетить рубрику "Отдых" и сервис "Достопримечательности".
      - else
        = seo.text.html_safe