%section.section
  / section__header
  .section__header
    .section__title.title
      %span.title__text Получай главные новости в удобном формате сегодня
  / section__main
  .section__main
    / news
    .subscription
      .subscription__list
        .row
          .col.col_6.col_mob-12
            .subscription__item.subscription__item_telegram
              .subscription__media
                %svg.media__ico{:fill => "none", :height => "17", :viewbox => "0 0 20 17", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M1.41098 7.31674C6.78617 4.91623 10.3607 3.33314 12.1345 2.56746C17.2443 0.394594 18.3126 0.0117556 18.9979 0.00140859C19.2535 -0.0115392 19.5058 0.0650787 19.7135 0.218696C19.7876 0.281219 19.849 0.358222 19.894 0.445249C19.9389 0.532277 19.9667 0.627599 19.9755 0.725699C20.0082 0.972896 20.0082 1.22349 19.9755 1.47068C19.7034 4.46097 18.5041 11.7142 17.8893 15.0563C17.6373 16.4738 17.1233 16.9498 16.6395 16.9912C15.5712 17.0947 14.7549 16.2669 13.7168 15.5736C12.1042 14.4769 11.1871 13.8043 9.61486 12.7386C7.80073 11.5073 8.97991 10.8347 10.0079 9.72759C10.28 9.43787 14.9867 5.0404 15.0471 4.64721C15.0613 4.58947 15.0613 4.52905 15.0472 4.4713C15.0331 4.41355 15.0054 4.36024 14.9665 4.31611C14.9077 4.28351 14.8419 4.26644 14.775 4.26644C14.7082 4.26644 14.6424 4.28351 14.5835 4.31611C14.4223 4.3575 11.8355 6.11304 6.82312 9.58273C6.24426 10.0439 5.53956 10.308 4.80743 10.3381C3.85337 10.1993 2.91713 9.95295 2.01569 9.60343C0.866748 9.22059 0 9.01365 0 8.36179C0 8.02034 0.493844 7.66854 1.37067 7.32709", :fill => "#1CA1F2"}
              .subscription__content
                %span.subscription__text Раз в день
                %span.subscription__title Топ Новостей
                %span.subscription__text Формамт: текст
          .col.col_6.col_mob-12
            .subscription__item.subscription__item_instagram
              .subscription__media
                %svg.media__ico{:fill => "none", :height => "18", :viewbox => "0 0 18 18", :width => "18", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M15.4385 0H2.56154C1.10769 0 0 1.10769 0 2.56154V15.4385C0 16.8923 1.10769 18 2.56154 18H15.4385C16.8923 18 18 16.8923 18 15.4385V2.56154C18 1.10769 16.8923 0 15.4385 0ZM9 14.4C11.9769 14.4 14.4 12.0462 14.4 9.20769C14.4 8.72308 14.3308 8.16923 14.1923 7.75385H15.7154V15.0923C15.7154 15.4385 15.4385 15.7846 15.0231 15.7846H2.97693C2.63077 15.7846 2.28462 15.5077 2.28462 15.0923V7.68461H3.87693C3.73847 8.16923 3.66923 8.65385 3.66923 9.13846C3.6 12.0462 6.02308 14.4 9 14.4ZM9 12.3231C7.06154 12.3231 5.53846 10.8 5.53846 8.93077C5.53846 7.06154 7.06154 5.53846 9 5.53846C10.9385 5.53846 12.4615 7.06154 12.4615 8.93077C12.4615 10.8692 10.9385 12.3231 9 12.3231ZM15.6462 4.91538C15.6462 5.33077 15.3 5.67692 14.8846 5.67692H12.9462C12.5308 5.67692 12.1846 5.33077 12.1846 4.91538V3.04615C12.1846 2.63077 12.5308 2.28461 12.9462 2.28461H14.8846C15.3 2.28461 15.6462 2.63077 15.6462 3.04615V4.91538Z", :fill => "url(#paint0_linear_4_115)"}
                  %defs
                    %lineargradient#paint0_linear_4_115{:gradientunits => "userSpaceOnUse", :x1 => "3.825", :x2 => "15.75", :y1 => "15.975", :y2 => "3.6"}
                      %stop{"stop-color" => "#EEA054"}
                      %stop{:offset => "0.502762", "stop-color" => "#D64763"}
                      %stop{:offset => "1", "stop-color" => "#B62A99"}
              .subscription__content
                %span.subscription__text Каждый день
                %span.subscription__title Все Новости
                %span.subscription__text Формат: Фото и видео
          .col.col_6.col_mob-12
            .subscription__item.subscription__item_youtube
              .subscription__media
                %svg.media__ico{:fill => "none", :height => "14", :viewbox => "0 0 20 14", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M7.99137 10.0027V4.00794L13.1889 7.00005L7.99137 10.0027ZM19.5883 2.19581C19.4731 1.77207 19.2491 1.38578 18.9384 1.0753C18.6277 0.76481 18.2412 0.540913 17.8171 0.425822C15.2252 0.113414 12.6155 -0.0273701 10.005 0.00439521C7.39103 -0.0274044 4.77779 0.113379 2.18236 0.425822C1.75834 0.540913 1.3718 0.76481 1.0611 1.0753C0.750409 1.38578 0.526362 1.77207 0.411194 2.19581C-0.137065 5.37875 -0.137065 8.63191 0.411194 11.8148C0.526362 12.2386 0.750409 12.6249 1.0611 12.9353C1.3718 13.2458 1.75834 13.4697 2.18236 13.5848C4.77838 13.8895 7.39135 14.0267 10.005 13.9957C12.6152 14.0267 15.2246 13.8894 17.8171 13.5848C18.2412 13.4697 18.6277 13.2458 18.9384 12.9353C19.2491 12.6249 19.4731 12.2386 19.5883 11.8148C19.872 10.2258 20.0096 8.61415 19.9995 7.00005C20.0097 5.38944 19.8721 3.78129 19.5883 2.19581Z", :fill => "#FF0000"}
              .subscription__content
                %span.subscription__text Раз в Неделю
                %span.subscription__title Итоги
                %span.subscription__text Формат: Видео
          .col.col_6.col_mob-12
            .subscription__item.subscription__item_facebook
              .subscription__media
                %svg.media__ico{:fill => "none", :height => "22", :viewbox => "0 0 12 22", :width => "12", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M11.1979 12.3179L11.8182 8.33795H7.93584V5.75466C7.91594 5.46186 7.96242 5.16838 8.07191 4.89534C8.18141 4.6223 8.3512 4.3765 8.56907 4.17563C8.78695 3.97477 9.04746 3.82384 9.33188 3.73371C9.6163 3.64358 9.91753 3.6165 10.2139 3.65442H12V0.273033C10.9602 0.105649 9.90918 0.0143854 8.85561 0C5.64706 0 3.56148 1.91122 3.56148 5.35561V8.39045H0V12.3704H3.56148V22H7.94652V12.3704L11.1979 12.3179Z", :fill => "#1778F2"}
              .subscription__content
                %span.subscription__text Каждый день
                %span.subscription__title Все Новости
                %span.subscription__text Формат: Дискуссия
          .col.col_12
            .subscription__item.subscription__item_mail
              .subscription__media
                %svg.media__ico{:fill => "none", :height => "20", :viewbox => "0 0 21 20", :width => "21", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M9.99996 7.43437e-06C8.43434 0.000458025 6.8907 0.36851 5.4933 1.07453C4.09591 1.78056 2.88381 2.80482 1.9546 4.06487C1.02538 5.32492 0.405003 6.78555 0.143413 8.32917C-0.118178 9.87278 -0.0136738 11.4563 0.448512 12.9521C0.910698 14.4479 1.71765 15.8144 2.80441 16.9414C3.89116 18.0684 5.22736 18.9245 6.70542 19.4407C8.18347 19.957 9.7621 20.119 11.3142 19.9137C12.8663 19.7083 14.3485 19.1415 15.6415 18.2587L14.2871 16.6904C12.8016 17.6429 11.0412 18.0735 9.28382 17.9144C7.52639 17.7553 5.87197 17.0155 4.58166 15.8118C3.29135 14.6081 2.43862 13.0089 2.15804 11.2668C1.87746 9.5246 2.18501 7.7386 3.03215 6.19062C3.87929 4.64265 5.21778 3.42084 6.8364 2.71802C8.45501 2.0152 10.2616 1.87138 11.971 2.30927C13.6804 2.74716 15.1954 3.74182 16.2767 5.13627C17.3581 6.53073 17.9444 8.24557 17.9429 10.0102C17.944 10.586 17.8791 11.16 17.7495 11.721C17.705 12.0765 17.5327 12.4038 17.2648 12.6417C16.9969 12.8797 16.6516 13.0121 16.2932 13.0143C15.9517 12.9882 15.6345 12.8278 15.4111 12.5682C15.1878 12.3085 15.0765 11.9709 15.1018 11.6293V10C15.1044 8.82004 14.697 7.6758 13.9494 6.76289C13.2018 5.84998 12.1603 5.22507 11.003 4.99499C9.84567 4.7649 8.64436 4.94392 7.60441 5.50144C6.56445 6.05897 5.75042 6.96038 5.30146 8.05161C4.8525 9.14283 4.79648 10.3561 5.14298 11.4841C5.48948 12.612 6.21699 13.5846 7.20115 14.2356C8.1853 14.8866 9.36501 15.1755 10.5386 15.0531C11.7122 14.9306 12.8068 14.4043 13.6354 13.5642C13.9062 13.9897 14.2729 14.3458 14.7062 14.604C15.1395 14.8622 15.6272 15.0152 16.1303 15.0509H16.4053C17.1409 15.0547 17.857 14.8148 18.4419 14.3686C19.0647 13.8877 19.5178 13.2206 19.7352 12.4644C19.7352 12.3422 19.8472 12.0469 19.8472 12.0469C19.9956 11.3783 20.0673 10.695 20.0611 10.0102C20.0611 8.69134 19.8005 7.38548 19.2942 6.16766C18.788 4.94984 18.0461 3.84406 17.1112 2.91386C16.1762 1.98366 15.0667 1.24738 13.8463 0.747324C12.626 0.247269 11.3188 -0.00670086 9.99996 7.43437e-06ZM13.055 10C13.055 10.6042 12.8758 11.1949 12.5401 11.6973C12.2044 12.1997 11.7273 12.5912 11.1691 12.8224C10.6108 13.0537 9.99657 13.1142 9.40396 12.9963C8.81135 12.8784 8.267 12.5875 7.83976 12.1602C7.41251 11.733 7.12155 11.1886 7.00367 10.596C6.88579 10.0034 6.94629 9.38914 7.17752 8.83091C7.40874 8.27269 7.80031 7.79556 8.3027 7.45988C8.80509 7.12419 9.39574 6.94502 9.99996 6.94502C10.8102 6.94502 11.5872 7.26688 12.1602 7.8398C12.7331 8.41273 13.055 9.18977 13.055 10Z", :fill => "white"}
              .subscription__content
                %span.subscription__text Раз в месяц
                %span.subscription__title Подборка лучших новостей
                %span.subscription__text Формат: письмо
              .subscription__formular
                = form_tag "/forms", method: "post", class: "subscription__form" do |f|
                  .row
                    .col.col_9.col_desktop-big-8.col_mob-12
                      .form-field
                        %input.form-field__input{:placeholder => "Введите ваш e-mail", :required => "", :name => "data", :type => "email"}
                        %input{:name => "title", :value => "Форма подборки новостей", :type => "hidden"}
                        /= recaptcha_tags

                    .col.col_3.col_desktop-big-4.col_mob-12
                      .form-field
                        %button{:type => "submit"} Подписаться
                        :javascript
                          $(document).on('submit', '.subscription__form', function(){
                            const $this = $(this)
                            $.ajax({
                              type: "POST",
                              data: $this.serialize(),
                              url: $this.attr('action'),
                              success(res) {
                                //console.log(res)
                              }
                            })
                            return false
                          })