@font-face {
  font-family: 'ProximaNova';
  src: font-url('ProximaNova.woff') format('woff');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: font-url('ProximaNova-Bold.woff') format('woff');
}
