.well
  %h3 Поиск
  #search_form
    = simple_form_for @search, :url => admin_redirects_path do |form|
      = form.input :from_like, :required => false
      = form.input :to_like, :required => false
      = form.button :submit, 'Найти', class: 'btn'
