header {
  overflow: hidden;
  position: relative;

  .b-header__logo {
    display: block;
    width: 265px;
    height: 75px;
    margin: $dx/2 0 0 $dx/2;
    float: left;
  }

  .b-header__promo {
    width: 400px;
    height: 50px;
    margin-left: 40px;
    margin-top: 25px;
    float: left;
  }
}
