.b-isikhangiso-top {
  width: 1240px;
  max-height: 200px;
  margin: $dx 0;
  overflow: hidden;
  div {margin: 0 auto;}
}

.b-isikhangiso-aside {
  width: 295px;
  // max-height: 500px;
  margin: 1.5*$dx auto;
  overflow: hidden;
}
