# Ignore bundler config
/.bundle
/log
/log/*.log
/log/*.pid
/tmp
.bash_logout
.bashrc
.profile
.ssh/
.DS_Store
public/data
.bash_history
.loadpath
.project
.lesshst
*.sqlite3
.ssh
.bash_profile
.viminfo
private
.psql_history
Thumbs.db
.idea
.mysql_history
.ruby_inline
.vim*
config/database.yml
log/*.log
libpeerconnection.log
public/ad_surface
public/block
public/board
public/board_photo
public/catalog
public/catalog
public/comment
public/company
public/contest
public/contest_part_photo
public/country
public/doc
public/event
public/event_rubric
public/gallery
public/news_doc
public/photo
public/place
public/place_rubric
public/place_type
public/reply
public/resume
public/test_images
public/topic
public/uploads
public/user
public/vacancy
public/partner
public/site
public/sitemaps
public/system
config/development.sphinx.conf
config/production.sphinx.conf
config/thinking_sphinx.yml
db/sphinx/*
mkmf.log
config/query_reviewer.yml
vendor/plugins/query_reviewer/
vendor/ruby
vendor/bundle
config/unicorn_dev.rb
.rspec-tm
spec/reports/*
coverage/*
public/stylesheets/application.css

public/design/stylesheets/application.css

.vagrant/*
provision/.tmp
provision/vendor/modules
.rbenv_gemsets
.ruby-version
.ruby-gemset

t/elasticsearch/config/elasticsearch.yml
*.sublime-workspace

dump.rdb
.env
