%table.table.table-bordered
  %thead
    %th= sort_link @search, :query, SearchQuery.human_attribute_name(:query), :default_order => :desc
    %th= sort_link @search, :created_at, SearchQuery.human_attribute_name(:created_at), :default_order => :desc
  - search_queries.each do |query|
    %tr    
      %td= query.query
      %td= query.created_at.to_s(:short_with_year)