<br>
<span style="font-size: 10px; collor: #5B5B5B">
  Отписаться от рассылки Вы можете в личном кабинете по ссылке
    <a href="https://<%= Settings.portal_domain %>/users/<%= user.subdomain %>/edit">https://<%= Settings.portal_domain %>/users/<%= user.subdomain %>/edit</a>
</span>
