@import "import/clean-base";

.s-gray-box {
  background: #f3f3f3;
  border: 1px solid #c3c3c3;
  padding: 30px;
  max-width: 500px;
  @include inline-block;
  text-align: left;
  .s-gray-box__title {
    font-size: 16px;
  }
  .s-gray-box__additional-line {
    margin-top: 25px;
    text-align: center;
  }
  .s-gray-box__content {
    margin-top: 30px;
    overflow: hidden;
    > .s-gray-box__content__block {
      float: left;
      width: 210px;
      &.with-form {
        padding-right: 30px;
        border-right: 1px solid #555;
        .label-line {
          margin: 0 0 5px;
          line-height: 20px;
        }
        .field-line {
          margin: 5px 0 15px;
          padding-right: 12px;
          input.field {
            width: 100%;
            padding: 3px 5px;
            color: $c-black;
            border: 1px solid #c3c3c3;
            background: #e5e5e5;
            &:focus {
              border-color: #c3c3c3;
              background: $c-white;
            }
          }
          .remember {
            vertical-align: middle;
          }
          > .error {
            margin: 3px -12px 0 0;
            font-size: 11px;
          }
          &.small {
            font-size: 12px;
          }
        }
        .field_with_errors {
          color: $c-red;
          input.field {
            border-color: $c-red;
          }
        }
        .submit-wrapper {
          .button {
            @include inline-block;
            padding: 1px;
            @include linear-gradient(top, (#d3d3d3, #acacac));
            @include pie;
            > .submit {
              @include linear-gradient(top, (#e0e0e0, #c3c3c3));
              @include pie;
              height: 24px;
              padding: 0 25px;
              border: {
                width: 1px;
                style: solid;
                color: #f2f2f2 #e5e5e5 #d6d6d6;
              }
              &:hover {
                @include linear-gradient(top, (lighten(#e0e0e0, 5%), lighten(#c3c3c3, 5%)));
              }
              &:active {
                @include linear-gradient(top, (#c3c3c3, #e0e0e0));
              }
            }
          }
          a.restore {
            position: absolute;
            right: 0;
            top: 0;
            line-height: 26px;
          }
        }
      }
      &.social-auth {
        padding: 0 0 20px 30px;
        line-height: 22px;
        > .social-auth-links {
          margin: 0 0 0 -7px;
          .social-button {
            @include inline-block(44px, 44px);
            margin: 11px 0 0 7px;
            background-repeat: none;
            background-position: center top;
            &:hover {
              background-position: center bottom;
            }
            @each $provider in vkontakte, facebook, twitter, yandex, google {
              &.#{$provider} {background-image: asset-data-url("social/signup/#{$provider}.png");}
            }
          }
        }
        .error {
          margin-top: 10px;
        }
      }
    }
    > .additional {display:none}
    &.without-social-auth {
      > .s-gray-box__content__block.with-form {
        padding-right: 0;
        border-right: none;
      }
    }
  }
  .flash {
    margin-top: 25px;
  }
  .error {
    color: $c-red;
  }
}

.s-gray-box__socials {display:none}