.b-account-companies {

  &__item {
    padding: 30px 0 30px 220px;
    border-bottom: 1px $gray-light solid;
    @include clearfix;
    &:first-child {padding-top: 0;}
    &:last-child {border-bottom: none;}

    .avatar {
      width: 200px;
      height: 100px;
      float: left;
      margin: 0 20px 0 -220px;
      img {margin: 0 auto}
    }

    .item__title {
      font-size: 24px;
      color: $blue-dark4;
    }

    .item__aux {
      margin: 5px 0 15px;
    }

    .item__vacancies a {color: $gray-mid;}
    .g-button {margin-right: 15px}
  }

}