<ul>
  <% @site.rubrics(rubric_klass.name).each do |rubric| %>
    <li class="check_box">
      <%= hidden_field_tag "site_admin[rubric_permissions_attributes][][rubric_type]", rubric_klass.name %>
      <%= check_box_tag "site_admin[rubric_permissions_attributes][][rubric_id]", rubric.id, @site_admin.permitted_rubrics(rubric_klass).include?(rubric.id), :id => "site_admin_#{rubric_klass.name}_permission_#{rubric.id}" %>
      <%= label_tag "site_admin_#{rubric_klass.name}_permission_#{rubric.id}", rubric.title %>
    </li>
  <% end %>
</ul>