<p>Уважаемый <%= @user.first_name%> <%= @user.last_name%>!</p>
<p>Вы зарегистрировали портал <%= link_to "https://#{@site.subdomain}.100on.ru", "https://#{@site.subdomain}.100on.ru" %></p>
<p>Загрузите логотип и начните пользоваться – все почти готово!</p>