$baseColorBlue: #2a5f9c;
$baseColorLightBlue: #e7ebf0;
$baseColorRed: #b50027;
$baseColorGray: #5b5b5b;
$baseColorLightGray: #777;

$baseColorText: #282828;
$baseColorTitle: #494949;

$bg-header: $baseColorLightBlue;
$bg-footer: $baseColorBlue;
$bg-tags: #5a9de2;
$bg-event-info: #f2f5f8;
