.well
  %h3 Поиск
  #search_form
    = simple_form_for @search, url: admin_versions_path, class: 'form-horizontal' do |form|
      .control-group
        .controls
          = form.input :author_login_eq, required: false, label: 'Логин пользователя'
        .controls
          = form.button :submit, 'Найти', class: 'btn'