<script type="text/javascript">
  var global_rubric_link = '<%= params[:global_rubric_link] || "" %>';
  var second_rubric_link = '<%= params[:second_rubric_link] || "" %>';
  var third_rubric_link  = '<%= params[:third_rubric_link] || "" %>';
</script>
<div class="b-rubric-title">
  ФОТОРЕПОРТАЖИ
</div>
