<div class="b-rubric-title">ФОТОРЕПОРТАЖИ</div>
<div class="g-box">
  <div class="message-ok">
    Фоторепортаж отправлен. Он будет проверен модератором и опубликован на сайте в выбранном Вами разделе.
  </div>
  <%= link_to "Добавить фоторепортаж", controller: 'photo', action: "new" %> <br />
  <%= link_to "К списку фоторепортажей", controller: "/photo" %>
</div>



