<div class="l-page__columns-line">
  <aside class="l-page__column left">
    <div class="b-rubric-title">ФОТОРЕПОРТАЖИ</div>
    <div class="g-box">
      <%= render 'galleries', galleries: @galleries %>
    </div>
  </aside>
  <section class="l-page__column right">
    <%= render partial: "/photo/templates/blocks/right" %>
  </section>
</div>

