/ section__main
.section__main
  .gallery
    .gallery__list
      .row
        .col.col_3.col_tab-6.col_mob-p-12
          .gallery__item
            %img.sidebar__img{:alt => "banner", :src => "/assets/company01.jpg"}/
        .col.col_3.col_tab-6.col_mob-p-12
          .gallery__item
            %img.sidebar__img{:alt => "banner", :src => "/assets/company02.jpg"}/
        .col.col_3.col_tab-6.col_mob-p-12
          .gallery__item
            %img.sidebar__img{:alt => "banner", :src => "/assets/company03.jpg"}/
        .col.col_3.col_tab-6.col_mob-p-12
          .gallery__item
            %img.sidebar__img{:alt => "banner", :src => "/assets/company04.jpg"}/