- if controller_name != 'main'
  .b-docs-item__category
    = link_to doc.rubric.title, doc.rubric.url, class: 'b-docs-item__category-link'
= link_to doc.title, doc.approved ? doc.url : doc.preview_secret_url, class: 'b-docs-item__title'
.g-aux.l
  .g-aux__item.views
    = doc.page_views
