= link_if_logged 'фоторепортаж', '/photo/new'
= render 'layouts/ads/right'
= render 'layouts/sidebar_photo_slider'
-#= seo_about @seo_about
-#= seo_sub_text @seo_sub_text
= render partial: '/templates/blocks/new/social_widgets'