:scss
  .l-page {
    &.background-banner {
      background-color: #eaeaea;
      background-attachment: fixed;
    }
    > .l-page__header {
      margin-top: 302px;
      .b-user-menu {
        background: transparent;
      }
    }
  }
