.articles
  - unless @docs.empty?
    .articles_list
      - @docs.group_by {|d| d.created_at.to_date}.each do |date, news_docs|
        - if news_docs.length > 1
          .l-row.b-newslist-tape{style: "border-bottom: 1px solid #979797;"}
            .l-cols-2.l-l
              .articles__date.date
                .date__day
                  = Russian.strftime(date, '%d')
                .date__month
                  = Russian::strftime(date, "%d %B").split(' ').last
            .l-cols-7.l-l
              - @docs.each do |doc|
                = render partial: "other/article_no_date", locals: {article: doc}
        - else
          - @docs.each do |doc|
            = render partial: "other/article", locals: {article: doc}
  - else
    .l-row.b-newslist-tape
      .l-cols-9.l-l
        .b-box Нет информации.
