.s-gray-box__content__block.social-auth
  = link_to "Facebook", "/auth/facebook", :title => "Войти через Facebook", class: "social-button fb"
  = link_to "Twitter", "/auth/twitter", :title => "Войти через Twitter", class: "social-button tw"
  = link_to "ВКонтакте", "/auth/vkontakte", :title => "Войти через ВКонтакте", class: "social-button vk"
  = link_to "Google+", "/auth/google_oauth2", :title => "Войти через Google", class: "social-button gp"



-#.s-gray-box__content__block.social-auth
-#  Войти, используя свой логин
-#  на одном из популярных сайтов:
-#  .social-auth-links
-#    = link_to "", "/auth/facebook", :title => "Войти через Facebook", class: "social-button facebook"
-#    = link_to "", "/auth/vkontakte", :title => "Войти через ВКонтакте", class: "social-button vkontakte"
-#    = link_to "", "/auth/twitter", :title => "Войти через Twitter", class: "social-button twitter"
-#    = link_to "", "/auth/google_oauth2", :title => "Войти через Google", class: "social-button google"
