.well
  = link_to_unless_current 'Рекламные агенства', admin_ad_agencies_path, class: 'top_well_menu'
  = link_to_unless_current 'Рекламные поверхности', admin_ad_surfaces_path, class: 'top_well_menu'
  = link_to_unless_current 'Форматы', admin_ad_formats_path, class: 'top_well_menu'
