$gray-light:    #bfc5c7;
$gray-light2:   #adadad;
$gray-light3:   #f1f1f1;
$gray-light4:   #d9e0e8;
$gray-mid:      #696969;
$gray-mid2:     #434343;
$gray-mid3:     #5b5b5b;
$gray-mid4:     #818181;
$gray-mid5:     #909090;
$gray-dark:     #373737;
$gray-dark2:    #3d3d3d;
$black:         #1b1b1b;

$blue-light:    #f2f5f8;
$blue-light2:   #71b6f0;
$blue-regular:  #5a9de2;
$blue-mid:      #25548d;
$blue-mid2:     #435c6f;
$blue-mid3:     #9cb5d1;
$blue-mid4:     #41569b;
$blue-mid5:     #4c7fb9;
$blue-dark:     #00365e;
$blue-dark2:    #004680;
$blue-dark3:    #071125;
$blue-dark4:    #133d6f;

$red-light:     #e43044;
$red-mid:       #c6071d;
$red-dark:      #b50027;

$green-light:   #32b494;
$green-regular: #41A243;

$white:         #ffffff;
