// Proportions
$dx: 20px;
$cell: 85px;


// fonts

$font-family_base: 'PtSans', Tahoma, Arial, sans-serif;
$font-size_base: 14px;
$line-height_base: 17px;

$font-size_mini: 12px;
$line-height_mini: 14px;

$font-size_inreased: 16px;
$line-height_inreased: 20px;

$font-size_big: 24px;
$line-height_big: 30px;

$font-size_header: 28px;

$font-family_proxymanova: 'ProximaNova', Verdana, sans-serif;
$font-family_subheader: 'ProximaNova', Verdana, sans-serif;
$font-size_subheader: 17px;
$line-height_subheader: 17px;

$font-family_subsubheader: 'ProximaNova', Verdana, sans-serif;
$font-size_subsubheader: 12px;
$line-height_subsubheader: 10px;

$font-family_nav: 'PtSansNarrow', Arial, sans-serif;
$font-size_nav: 16px;

$font-size_index-events: 16px;
$font-size_index-interviews: 16px;

$font-size_news-item: 19px;
