.well
  %h3 Поиск
  #search_form
    = simple_form_for @search, :url => admin_main_blocks_path do |form|
      = form.input :id_eq, :required => false
      = form.button :submit, 'Найти', class: 'btn'
