.b-category-communities-list {

}

.b-category-communities-list__title {
  text-transform: uppercase;
  font: bold 18px $font-family_proxymanova;
  color: #1c1c1c;
  letter-spacing: 1px;
}

.b-category-communities-list__list {
  overflow: hidden;
  margin: 0 0 0 -15px;
}
