.l-page__flashes {
  position: fixed;
  width: 100%;
  z-index: 9999;
  /*white-space: nowrap;*/
  text-align: center;
  .flash {
    margin: 0;
    /*position: absolute;*/
    padding: 10px;
    top: 0;
    /*height: 50px;*/
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    color: white;
    background: #06c;
    border-bottom: 2px solid #039;
    z-index: 9999;
    a {
      color: white;    
    }
    &.error {
      background-color: #f00;
      border-bottom-color: #900;
    }
    &.alert {
      background-color: #c33;
      border-bottom-color: #900;
    }
    &.notice {
      background-color: #00BF32;
      color: black;
      border-bottom-color: #62E100;
    }
  }
}
