- if docs.present?
  -# @docs = @results
  .section__main  
    = render partial: 'news_list'
    .g-loader
      = will_paginate @docs
- else
  .b-box
    - no_info ||= 'По вашему запросу ничего не найдено.'
    = no_info
