.l-wrapper

  %div.l-content
    .g-subheader Добавление события
    = render 'form'


-#<div class="l-page__columns-line">
-#  <aside class="l-page__column left">
-#    <%= render "date_select" %>
-#  </aside>
-#  <section class="l-page__column right">
-#    <%= render partial: "/afisha/templates/blocks/right" %>
-#  </section>
-#</div>
-#
-#<div class="g-box">
-#  <div class="b-rubric-title">Добавление события</div>
-#  <p class="notice">Заполните форму</p>
-#  <%= render 'form' %>
-#</div>
