<%= render :partial => "/account/templates/blocks/registration_help" %>

<div class="blk-r">
   <p><b>Ваша регистрация уже подтверждена<br>
   <br>Спасибо за ещё одно подтверждение регистрации. Теперь мы точно знаем, что при регистрации Вы указали свой электронный адрес.</b></p>
</div>