<div class="l-wrapper">
  <div class='g-box'>
    <% if flash[:notice].blank? %>
      <p><b>Подтвердите вашу регистрацию<br>
        <br>На указанный вами адрес электронной почты было выслано письмо. Следуйте
        инструкциям в письме и подтвердите регистрацию.</b></p>
    <% end %>
    <p>В случае, если вы не получили письмо - вы
      можете <%= link_to "отправить повторное письмо", action: "reconfirm" %>.</p>
  </div>
</div>
