.loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  @include opacity(0.5);
  z-index: 10;
  text-align: center;
  > span {
    @include inline-block;
    vertical-align: middle;
    &.circle {
      width: 32px;
      height: 32px;
      background: transparent image-url("ajax-loader.gif") center center no-repeat;
    }
    &.text {
      margin-left: 10px;
      font-size: 20px;
    }
  }
}
