header {
    position: relative;
    width: 100%;
    background-color: $bg-header;

    .header-content {
        position: relative;
        padding: 1em;
    }

    .nav-open {
        font-size: 1.3em;
        line-height: 1.4em;
        color: $baseColorBlue;
        text-decoration: none;
    }

    .search-link {
        position: relative;
        margin-top: 0.2em;
        width: 1.3em;
        height: 1.3em;
        background-image: asset_data_url('v2/icons/icon-search.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .page-title {
        margin: 8px 0 0;
        font-family: $specialFontBold;
        font-size: 1.1em;
        text-align: center;
        text-transform: uppercase;
        color: $baseColorBlue;
    }

    nav {
        position: absolute;
        top: 0;
        left: calc(-80% - 1em);
        z-index: 10;
        padding: 1em 0 2em 1em;
        width: 70%;
        background-color: $baseColorBlue;
        font-family: $specialFont;
        text-transform: uppercase;
        transition: left 0.6s ease;
        &.active {
            left: 0;
        }

        .nav-close {
            display: block;
            position: relative;
            margin-bottom: 1em;
            width: 1.5em;
            height: 1.5em;
            background-image: asset_data_url('v2/icons/icon-left-arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        li {
            position: relative;
            padding: 1em 0;
            border-top: 1px solid #5881b1;

            &:first-child {
                border-top: none;
            }
            &.active {
                font-family: $specialFontBold;
                &:before {
                    display: block;
                    position: absolute;
                    content: '';
                    left: -1em;
                    top: 0;
                    width: 6px;
                    height: 100%;
                    background: $baseColorRed;
                }
            }
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
