%meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
%meta{content: 'wBRmNM7lLu3mTcaPVlhTxBFzXVj6jVM6K9lNe02Y1WM=', name: 'verify-v1'}
%meta{name: "pocket-site-verification", content: "59dae2d82a0b8c2b0ba75614406c22"}
%meta{name: "p:domain_verify", content: "2c2c65c6acc2ea35c7517a458f7a40dd"}

== <meta property="fb:admins" content="100003512736075" />
== <meta property="fb:admins" content="1029249564" />
== <script data-ad-client="ca-pub-4210860558654007" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

%meta{ name: "google-site-verification", content: "vAfssu_Ll0oNiCOwY1eHU-kZhcpPnKxl9uOaWU8SWmg" }
