%script{type: "application/ld+json"}
  {"@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "420on.cz",
  "alternateName" : "Пражский городской портал",
  "url" : "https://www.420on.cz"}
