%div.b-special-projects
  = link_to((image_tag(@site.logo.url, alt: @site.portal_title, title: @site.portal_title)), root_url, class: 'logo')
  .b-projects.b-projects_420on
    = render 'layouts/projects_420on_ad'
