.well
  %h3 Поиск
  #search_form
    = simple_form_for @search, :url => admin_ad_codes_path, class: 'form-horizontal' do |form|
      .control-group
        .controls
          = form.input :url_like, :required => false, :as => :string
      .control-group
        .controls
          = form.input :title_like, :required => false
      .control-group
        .controls
          = form.button :submit, 'Найти', class: 'btn'
